
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    background-color: #000000;
    color: white;
    padding: 0px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 20px;
    margin-left: 300px;
}

.logo img {
    width: 150px;
    height: 70px;

}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}




.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-shadow: 7px 7px 7px rgb(255, 0, 0);
}

.email-input {

    margin-top: 20px; 
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    background-color: rgb(184, 182, 182);
    
}

button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.hero, .content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}






